html{ direction: rtl; }
body{
	background-color:#EDEDED ;
	max-width: 98.1% ;
}
.container{
	padding-right: 40px;
}

.card{
	min-width: 100.5%;
}
#card3{
	display: flex;
	flex-wrap: wrap;
	margin-right: -40px;
}
#card2{
	display: flex;
	max-width: 30%;
	margin: 15px;
}

/*Facilities*/
#facilities{
background-color: #dbe5e6;
padding: 30px 0px;
min-width: 101.9%;
}
#facilities h1{
	font-weight: 900;
	font-size: 34px;
	padding-bottom: 5px;
}
#bar1{
	background-color: #0C2D48;
}
.title{
	text-align: center;
	padding: 25px 0px;
}

.title p{
	font-size: 18px;
}
.card-body{

box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
}
.card{
	margin: 10px 10px;
}
.card-body a{
color:#0c7f90;
text-decoration: none;
font-size: 15px;
margin-top: auto;
font-weight: 600;
}
.card-body a:hover{
	color: #63a6b0;
	text-decoration: none;
}

/*end of facilities*/
/*Start card text-center*/
.card text-center {
	margin-bottom: 0;
}
/* End card text-center*/
.form-inline input{
	text-align: center;
	border: 2px solid #C4C4C4;
	padding: 10PX;
	margin: 10PX;
	margin-top: 20px;
	width: 85%;
}
.form-inline button{
	margin-top: 5px;
}
.navbar-nav{
	margin-right: 140px;
}
#phone1{
margin-right: 240px;
margin-top: 7px;
}
#phone2{
	margin-right: 30px;
	margin-top: 7px;
}
.bar img{
	width: 210px;
	height: 55px;
}
.bar{
	background-color: #0C2D48;
}
.search1 nav{
	background-color:#EDEDED ;
}

#line{
	display: block;
	width: 115px;
	height: 2px;
	margin: auto;
	background-color: #FFD600;
}

.card-body h5{
	text-align: right;
}

.card-text {
	text-align: right;
}

.footer1 .header-content1{
	display: flex;
	justify-content:space-between ;
	align-items: center;
	background-color: #0C2D48;
	color: white;
	min-width: 101.95%;
}
.header-content1 img {
 flex :1 ;
 max-width: 220px;
 height: 55px;
 background-color: #0C2D48;
 margin-left: 40px;
}
.header-content1 nav {
 flex: 2;
 text-align: center;
}
.footer{
	margin-right: 35px;
}
#list1{
	margin-top: 16px;
}
#login1{
	padding: 7px;
	margin-left: 35px;
}
.header-content1 ul li {
	display: inline-block;
}
#social{
	text-align: right;
}
#list1{
	margin-top: 16px;
}
.social2{
	height: 37px;
	width: 37px;
	margin-left: 8px ;
}