{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/main1.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
</head>
<body>
<div class="bar">
  	<div>
  		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="bar1">
        <div class="container-xl">
        <a href="file:///E:/project/main2.html">
  <img src="{{ STATIC_PREFIX }}images/logo.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item {% if active == 'home' %}active{% endif %}">
        <a class="nav-link" href="">الرئيسية <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown {% if active == 'company' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          الشركات
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for company in companies %}
          <a class="dropdown-item" href="top leaser.html">{{ company.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown {% if active == 'machine' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
          الماكينات
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for category in categories %}
          <a class="dropdown-item" href="top leaser.html">{{ category.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="file:///E:/project/contact/contact.html">اتصل بنا</a>
      </li>
      <li id="phone1"><a class="text-white" href="file:///E:/project/favor/favourites.html"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a></li>
      <li id="phone2"><a class="text-white" href="file:///E:/project/login/login.html"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a></li>
      <li id="phone2"><a class="text-white" href="£"><i class="fa fa-android fa-lg" aria-hidden="true"></i></a></li>
    </ul>
   </div>
   </div>
  </nav>
 </div>
</div><br><br><br>
  <div class="container"> 
 <section class="search1">
 	<nav>
  <form class="form-inline justify-content-center" action="£">
    <input class=" rounded-pill " type="search" placeholder="محرك داخلى للبحث عن  الماكينات" aria-label="Search">
    <button class="btn btn-outline-success rounded-pill " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>
 </nav>
 </div>
</section>
<div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="top leaser.html">توب ليزر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="simplex.html">سمبلكس</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="trotec.html">تروتريك</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="threecuts.html">ثرى كتس</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="miracle.html">ميراكل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sharp.html">شارب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="solitaire.html">سوليتير</a>
          </li>
        </ul>
      </div>
    </div><br>


{% block content %}{% endblock content %}



	<section class="footer1">
		<div class="header-content1">
		 <ul class="list-unstyled">
					   <li id="list1"><h5>اطلع على اخر الاخبار والعروض من خلال</h5>
						<h5>متابعتنا على مواقع التواصل الاجتماعى</h5>
					   </li>
		  </ul> 
		 <div class="login">
		   <ul class="list-unstyled">
							 <li id="login1"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></li>
							 <li id="login1"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></li>
							 <li id="login1"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></li>
		   </ul>
		  </div>
		  <div class="header-content">
		   <img src="{{ STATIC_PREFIX }}images/logo3.svg" alt="service broker logo">
		  </div>
		</div>
	   </section><br>
		<footer class="footer text-center">        
					<div class="row">
						<div class="col-lg-4 mb-5 mb-lg-0">
							<h4 class="text-uppercase mb-4">عن سيرفز بروكر</h4>
							<p>يقدم تطبيق الوسيط للخدمات مجموعة واسعة من المعلومات الدقيقة حول آلات CNC. في Service Broker ، يمكنك العثور على كل ما تحتاج لمعرفته حول سوق ماكينات CNC من حيث المواصفات الدقيقة ، والأسعار الكاملة ، ومزايا وعيوب ماكينات CNC بكل حيادية ووضوح. هذا التطبيق مجاني لجميع الأشخاص لاستخدامه ، لأننا نريد إفادة الأشخاص الذين يرغبون في التعرف على ماكينات CNC أو يرغبون في شراء ماكينات CNC </p>
						</div>
						<div class="col-lg-4 mb-5 mb-lg-0">
							<h4 class="text-uppercase mb-4">للتواصل معنا</h4>
							<h5 id="social">ايميل:</h5>
							<h5 id="social">رقم الهاتف:</h5><br>
							<a  href="#!"><img class="social2" src="{{ STATIC_PREFIX }}images/twet.svg"></a>
							<a  href="#!"><img class="social2" src="{{ STATIC_PREFIX }}images/face.svg"></a>
							<a  href="#!"><img class="social2" src="{{ STATIC_PREFIX }}images/inst.svg"></a>
							<a  href="#!"><img class="social2" src="{{ STATIC_PREFIX }}images/what.svg"></a>
						</div>
						<div class="col-lg-4">
							<h4 class="text-uppercase mb-4">صفحات هامة</h4>
							<p class="lead mb-0">عن الشركة</p>
							<p class="lead mb-0">سياسة الخصوصية</p>
							<p class="lead mb-0">شروط الاستخدام</p>
							<p class="lead mb-0">احدث الاخبار</p>
							<p class="lead mb-0">تواصل معنا</p>
						</div>
					</div>  
		</footer>
	
	
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/popper.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>
	</body>
	</html>